<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SalesDBEntities" connectionString="metadata=res://*/EntityFramework.SalesDBDatabaseContext.csdl|res://*/EntityFramework.SalesDBDatabaseContext.ssdl|res://*/EntityFramework.SalesDBDatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SalesDB;persist security info=True;user id=sa;password=Peru2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="SalesBind" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>

      </netTcpBinding>

      <basicHttpBinding>
        <binding name="SalesBasicBind">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    
    <services>

      <service name="Hundred.Labs.ServiceImplementation.Sales"
               behaviorConfiguration="Sales.confgComportamiento">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="SalesBind"
                  name="Sales"
                  contract="Hundred.Labs.ServiceContracts.ISales"
                  behaviorConfiguration="endpointBehaviorTcp"
                  bindingNamespace="http://hundred.com.pe/servicios/sales" />


        <endpoint address="/basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="SalesBasicBind"
                  name="SalesBasicEndpoint"
                  behaviorConfiguration="endpointBehaviorTcp"
                  contract="Hundred.Labs.ServiceContracts.ISales"
                  bindingNamespace="http://hundred.com.pe/servicios/sales" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehaviorTcp">
          <webHttp />
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Sales.confgComportamiento">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
