<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="SalesDBEntities" connectionString="metadata=res://*/EntityFramework.SalesDBDatabaseContext.csdl|res://*/EntityFramework.SalesDBDatabaseContext.ssdl|res://*/EntityFramework.SalesDBDatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SalesDB;persist security info=True;user id=sa;password=Peru2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>